@import "tailwindcss";


.bck_meow {
  background-color: #020617;

  background-image:
    repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #020617 100px
    ),
    repeating-linear-gradient(
      #200a4633,
      #0c1d4122
    );
}

.bck_paws {
  background-color: #b021d4;

  background-image:
    radial-gradient(
      circle at center center,
      #0e051d,
      #020617
    ),
    repeating-radial-gradient(
      circle at center center,
      #0c1d41,
      #0c1d41 5px,
      transparent 20px,
      transparent 10px
    );

  background-blend-mode: multiply;
}
